version: '2'
services:
  node:
    build: .
    ports:
      - 8080:3000
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    command:
      - dev
    links:
      - postgres
    environment:
      POSTGRES_USER: postgres
  postgres:
    restart: always
    build:
      context: docker/db
    ports:
      - 5400:5432
    volumes:
      - pg-data:/var/lib/postgresql/data
volumes:
  node_modules:
  pg-data:
